<%- include ('partials/header') %>

    <form method="post" class="formulario_reg">
        <h1>Registra un libro</h1>

        <input type="text" placeholder="titulo" name="titulo">
        <input type="text" placeholder="autor" name="autor">
        <textarea placeholder="descripcion" name="descripcion"></textarea>
        <input type="text" placeholder="portada" name="portada">

        <button type="submit">Crear</button>
    </form>

<%- include ('partials/footer') %>